$red: #5e253c;
$pink: #eda0c5;
$purple: #9c7cac;
$blue: #9b98ca;
$softerWhite: #f6f1f4;

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  .indent {
    align-self: flex-end;
    margin-right: 5%;
    @media screen and (max-width: 1000px) {
      align-self: flex-start;
    }
  }
  @media screen and (max-width: 500px) {
    gap: 0;
  }
  label {
    font-size: 36px;
    width: 75%;
    color: $red;
    @media screen and (max-width: 1400px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1000px) {
      width: 95%;
    }
    @media screen and (max-width: 800px) {
      font-size: 28px;
      text-align: center;
    }
    @media screen and (max-width: 700px) {
      font-size: 36px;
    }
    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
    @media screen and (max-width: 450px) {
      font-size: 22px;
    }
    &.indent {
      text-align: center;
      @media screen and (max-width: 1000px) {
        text-align: left;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        font-size: 28px;
      }
      @media screen and (max-width: 700px) {
        font-size: 36px;
      }
      @media screen and (max-width: 600px) {
        font-size: 32px;
      }
      @media screen and (max-width: 450px) {
        font-size: 22px;
      }
    }
    &.dark {
      color: $blue;
    }
  }
  input {
    width: 50%;
    height: 40px;
    font-size: 24px;
    font-family: 'Jua', sans-serif;
    color: $pink;
    background: none;
    border: none;
    border-bottom: 4px dashed $red;
    &:hover {
      cursor: text;
    }
    @media screen and (max-width: 1000px) {
      width: 70%;
    }
    @media screen and (max-width: 800px) {
      font-size: 20px;
    }
    @media screen and (max-width: 700px) {
      font-size: 24px;
      align-self: center;
    }
    @media screen and (max-width: 450px) {
      font-size: 16px;
    }
    &.indent {
      width: 70%;
      @media screen and (max-width: 800px) {
        font-size: 20px;
        align-self: center;
      }
      @media screen and (max-width: 700px) {
        font-size: 24px;
      }
      @media screen and (max-width: 450px) {
        font-size: 16px;
      }
    }
    &.dark {
      color: $purple;
      border-bottom: 4px dashed $blue;
    }
  }
}