// light mode variables
$pink-to-purple: linear-gradient(#eda0c5, #9c7cac);
$buttonbg: linear-gradient(to right, #eda0c5, #9c7cac);
$hoverbuttonbg: linear-gradient(to right, #9c7cac, #eda0c5);
$appleWhite: #FAFAFA;
$red: #5e253c;
$pink: #eda0c5;
$darkbtnbg: linear-gradient(to right, #9b98ca, #9c7cac);
$reversedarkbtn: linear-gradient(to right, #9c7cac, #9b98ca);

// dark mode variables
$black-to-purple: linear-gradient(#202123, #9c7cac);
$cardCharcoal: #3E3744;
$purple: #9c7cac;
$charcoal: #202123;
$blue: #9b98ca;

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  background: $appleWhite;
  .contact-title {
    color: $red;
    font-family: 'Play', sans-serif;
    font-size: 36px;
    @media screen and (max-width: 450px) {
      font-size: 28px;
    }
    &.dark {
      color: $appleWhite;
    }
  }
  .contact-card-container {
    display: flex;
    width: 100%;
    padding: 2% 10%;
    @media screen and (max-width: 800px) {
      padding: 2% 5%;
    }
    @media screen and (max-width: 700px) {
      padding: 2% 10%;
    }
    @media screen and (max-width: 360px) {
      padding: 2% 5%;
    }
    .contact-card-content {
      display: flex;
      width: 100%;
      box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.3);
      border-radius: 1rem 1rem;
      background: $appleWhite;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        height: 100vh;
      }
      // mobile responsiveness, portrait mode
      @media screen and (max-width: 420px) and (max-height: 920px) {
        height: 75vh;
      }
      @media screen and (max-width: 375px) and (max-height: 750px) {
        height: 100vh;
      }
      @media screen and (max-width: 320px) and (max-height: 600px), (width: 540px) and (height: 720px) {
        height: 125vh;
      }
      // mobile responsiveness, landscape mode
      @media screen and (max-height: 375px) {
        height: 180vh;
      }
      @media screen and (max-width: 700px) and (max-height: 375px) {
        height: 250vh;
      }
      @media screen and (width: 740px) and (height: 360px) {
        height: 175vh;
      }
      @media screen and (max-height: 300px) {
        height: 325vh;
      }
      @media screen and (width: 568px) and (height: 320px) {
        height: 275vh;
      }
      &.dark {
        background: $cardCharcoal;
        border: 1px solid $cardCharcoal;
      }
      .contact-column-left {
        flex-basis: 60%;
        padding: 5%;
        @media screen and (max-width: 700px) {
          display: flex;
          justify-content: center;
        }
      }
      .contact-column-right {
        flex-basis: 40%;
        border-radius: 0 1rem 1rem 0;
        background: $pink-to-purple;
        display: flex;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: 700px) {
          border-radius: 0 0 1rem 1rem;
        }
        &.dark {
          background: $purple;
        }
        .contact-tabs {
          position: absolute;
          top: 15%;
          left: -10%;
          width: 70%;
          color: $appleWhite;
          font-size: 28px;
          @media screen and (max-width: 700px) {
            top: 12%;
            left: -8%;
            width: 55%;
          }
          @media screen and (max-width: 450px) {
            width: 65%;
            font-size: 24px;
          }
          @media screen and (max-width: 360px) {
            left: 0;
          }
          .link-tab {
            background-color: $red;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6%;
            box-shadow: 0px 7px 7px 0 rgba(0,0,0,0.3);
            @media screen and (max-width: 700px) {
              padding: 2% 5%;
              margin-bottom: 30px;
            }
            @media screen and (max-width: 360px) {
              margin-bottom: 25px;
            }
            &:hover {
              cursor: pointer;
            }
            &.dark {
              background-color: $blue;
              a:hover {
                color: $cardCharcoal;
                cursor: pointer;
              }
            }
          }
          a {
            color: $appleWhite;
            font-size: 28px;
            text-decoration: none;
            &:hover {
              color: $pink;
              cursor: pointer;
            }
            @media screen and (max-width: 450px) {
              font-size: 24px;
            }
          }
        }
        img {
          height: 135px;
          width: 135px;
          position: absolute;
          bottom: 0;
          right: 85%;
          @media screen and (max-width: 700px) {
            right: 0;
            border-radius: 0 0 1rem 0;
          }
          @media screen and (max-width: 450px) {
            height: 112px;
            width: 112px;
          }
          @media screen and (max-width: 360px) {
            height: 90px;
            width: 90px;
          }
        }
        .contact-btn {
          height: 15%;
          width: 65%;
          position: absolute;
          bottom: 5%;
          left: 25%;
          border: 3px solid $red;
          border-radius: 4rem 4rem;
          background: $buttonbg;
          color: $appleWhite;
          font-family: 'Jua', sans-serif;
          font-size: 34px;
          z-index: 1;
          overflow: hidden;
          @media screen and (max-width: 1025px) {
            font-size: 32px;
            height: 13%;
          }
          @media screen and (max-width: 800px) {
            font-size: 28px;
          }
          @media screen and (max-width: 700px) {
            height: 20%;
            width: 40%;
            bottom: 10%;
            left: 5%;
          }
          @media screen and (max-width: 450px) {
            width: 50%;
            font-size: 24px;
          }
          .send-icon {
            margin-right: 5%;
            font-size: 34px;
            @media screen and (max-width: 1025px) {
              font-size: 32px;
            }
            @media screen and (max-width: 800px) {
              font-size: 28px;
            }
            @media screen and (max-width: 450px) {
              font-size: 24px;
            }
          }
          &.dark {
            border-color: #3E3744;
            background: $darkbtnbg;
            &:hover {
              border-color: #3E3744;
              background: $reversedarkbtn;
            }
            &:active {
              background: $blue;
            }
          }
          &:before {
            content: '';
            position: absolute;
            height: 150px;
            width: 22px;
            background: #fff;
            box-shadow: 0 0 10px #fff;
            filter: blur(2px);
            opacity: 0.7;
            top: -45px;
            transition: 0.3s;
            transform: rotate(-20deg) translateX(-160px);
          }
          &:hover {
            background: $hoverbuttonbg;
            border: 3px solid $red;
            &::before{
              transform: rotate(-20deg) translate(245px, 55px);
            }
          }
          &:active {
            background: $blue;
          }
        }
      }
    }
  }
  .portfolio-github {
    color: $red;
    align-self: flex-start;
    padding: 1% 10%;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 800px) {
      padding: 2% 5%;
    }
    @media screen and (max-width: 450px) {
      font-size: 16px;
      align-self: center;
      padding: 5% 0;
    }
    @media screen and (max-height: 375px) {
      padding: 5% 10%;
    }
    &.dark {
      color: $blue;
    }
  }
  .contact-footer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: rgba(94,37,60, 0.5);
    @media screen and (max-width: 500px) {
      text-align: center;
    }
    a {
      color: rgba(156,124,172, 0.8);
    }
    &.dark {
      color: rgba(250,250,250, 0.5);
    }
  }
  &.dark {
    background: $charcoal;
  }
}