// Light mode variables
$pink-to-purple: linear-gradient(#eda0c5, #9c7cac);
$purple-to-pink: linear-gradient(#9c7cac, #eda0c5);
$buttonbg: linear-gradient(to right, #eda0c5, #9c7cac);
$hoverbuttonbg: linear-gradient(to right, #9c7cac, #eda0c5);
$appleWhite: #FAFAFA;
$pink: #eda0c5;
$red: #5e253c;
$bubble: rgba(7, 0, 0, 0.25);

// Dark mode variables
$black-to-purple: linear-gradient(#202123, #9c7cac);
$purple-to-black: linear-gradient(#9c7cac, #202123);
$darkbtnbg: linear-gradient(to right, #9b98ca, #9c7cac);
$reversedarkbtn: linear-gradient(to right, #9c7cac, #9b98ca);
$purple: #9c7cac;
$charcoal: #202123;
$blue: #9b98ca;

// Typography
$font-primary: 'Jua', sans-serif;
$font-secondary: 'Play', sans-serif;
$font-size: 1.3rem;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: url('https://res.cloudinary.com/dnr41r1lq/image/upload/v1691973727/cursor_p0d8q4.png'), pointer;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-primary;
}

p {
  margin: 0;
}

.main-app {
  height: 100vh;
  width: 100vw;
}

.hero-section {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: $appleWhite;
  &.dark {
    background-color: $charcoal;
  }
  .hero-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 34% 82%, 0 82%);
    background: $pink-to-purple;
    @media screen and (max-width: 1280px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 34% 82%, 0 82%);
    }
    @media screen and (max-width: 600px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 33% 82%, 0 82%);
    }
    @media screen and (max-width: 450px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 100%, 40% 85%, 0 85%);
    }
    &.dark {
      background: $black-to-purple;
    }
    .white-grid {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: 40px 40px;
      background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 34% 82%, 0 82%);
        @media screen and (max-width: 1280px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 34% 82%, 0 82%);
        }
        @media screen and (max-width: 600px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 33% 82%, 0 82%);
        }
        @media screen and (max-width: 450px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 100%, 40% 85%, 0 85%);
        }
    }
    // MAIN HERO CONTENT (HI IM RACHEL CHIBI)
    .hero-content-container {
      display: flex;
      align-items: stretch;
      color: $appleWhite;
      font-family: 'Play', sans-serif;
      gap: 2.5rem;
      // special case for tablets
      @media screen and (width: 768px) and (height: 1024px) {
        flex-direction: column-reverse;
      }
      @media screen and (width: 820px) and (height: 1180px) {
        flex-direction: column-reverse;
      }
      @media screen and (width: 1024px) and (height: 1366px) {
        flex-direction: column-reverse;
      }
      // mobile responsivenes
      @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        gap: 1rem;
      }
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        &.hero-right {
          position: relative;
          background: $bubble;
          border-radius: 2rem 2rem;
          padding: 4rem 8rem;
          @media screen and (max-width: 1100px) {
            padding: 2rem 4rem;
          }
          @media screen and (max-width: 300px) {
            padding: 1rem 2rem;
          }
        }
        .hero-title {
          align-self: flex-start;
          font-size: 7rem;
          white-space: nowrap;
          overflow: hidden;
          border-right: 4px solid $red;
          @media screen and (max-width: 1600px) {
            font-size: 6rem;
          }
          @media screen and (max-width: 1400px) {
            font-size: 5rem;
          }
          @media screen and (max-width: 1100px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 900px) {
            font-size: 3rem;
          }
          @media screen and (max-width: 700px) {
            font-size: 2.75rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 2.25rem;
          }
          // special case for tablets
          @media screen and (width: 768px) and (height: 1024px) {
            font-size: 6rem;
          }
          @media screen and (width: 820px) and (height: 1180px) {
            font-size: 6rem;
          }
          @media screen and (width: 1024px) and (height: 1366px) {
            font-size: 6rem;
          }
        }
        .anim-typewriter {
          animation: typewriter 2s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
            &.dark {
              animation: typewriter 2s steps(44) 1s 1 normal both,
              blinkTextDarkCursor 500ms steps(44) infinite normal;
            }
          }
        @keyframes typewriter {
          from { width: 0; }
          to { width: 100%; }
        }
        @keyframes blinkTextCursor {
          from { border-right-color: $red; }
          to { border-right-color: transparent; }
        }
        @keyframes blinkTextDarkCursor {
          from { border-right-color: $blue; }
          to { border-right-color: transparent; }
        }
        .hero-subtitle {
          color: rgba(250, 250, 250, 0.8);
          font-size: 3rem;
          text-align: center;
          letter-spacing: 0.15rem;
          animation-name: fade-in;
          animation-duration: 5s;
          @keyframes fade-in{
            0% { opacity: 0; }
            60% { opacity: 0; }
            100% { opacity: 1; }
          }
          @media screen and (max-width: 1600px) {
            font-size: 2.5rem;
          }
          @media screen and (max-width: 1400px) {
            font-size: 2rem;
          }
          @media screen and (max-width: 1100px) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 900px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 0.75rem;
          }
          // special case for tablets
          @media screen and (width: 768px) and (height: 1024px) {
            font-size: 2.25rem;
          }
          @media screen and (width: 820px) and (height: 1180px) {
            font-size: 2.25rem;
          }
          @media screen and (width: 1024px) and (height: 1366px) {
            font-size: 2.25rem;
          }
        }
        .hero-right-image {
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: '';
            position: absolute;
            height: 50%;
            width: 75%;
            background: $pink;
            border-radius: 1rem 1rem;
          }
          .hero-chibi {
            z-index: 2;
            @media screen and (max-width: 1600px) {
              height: 275px;
              width: 275px;
            }
            @media screen and (max-width: 1400px) {
              height: 250px;
              width: 250px;
            }
            @media screen and (max-width: 1100px) {
              height: 200px;
              width: 200px;
            }
            @media screen and (max-width: 900px) {
              height: 150px;
              width: 150px;
            }
            // special case for tablets
            @media screen and (width: 768px) and (height: 1024px) {
              height: 300px;
              width: 300px;
            }
            @media screen and (width: 820px) and (height: 1180px) {
              height: 300px;
              width: 300px;
            }
            @media screen and (width: 1024px) and (height: 1366px) {
              height: 300px;
              width: 300px;
            }
          }
          &.dark {
            &::before {
              background: $purple;
            }
          }
        }
      }
    }
  }
  // JUST THE RESUME BUTTON ON HERO SLANT
  .hero-btn {
    position: absolute;
    left: 10rem;
    bottom: 1rem;
    padding: 2rem 4rem;
    border: 4px solid #5e253c;
    border-radius: 4rem 4rem;
    background: $buttonbg;
    color: $appleWhite;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    overflow: hidden;
    @media screen and (max-width: 1600px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1400px) {
      padding: 1.5rem 3rem;
      border-width: 3px;
    }
    @media screen and (max-width: 1300px) {
      left: 7rem;
    }
    @media screen and (max-width: 950px) {
      font-size: 22px;
      padding: 0.5rem 1.5rem;
      bottom: 0.5rem;
      border-width: 2px;
      left: 4rem;
    }
    @media screen and (max-width: 500px) {
      bottom: 1.5rem;
      left: 1rem;
    }
    @media screen and (max-width: 350px) {
      font-size: 18px;
      bottom: 1rem;
      padding: 0.5rem 1.25rem;
    }
    // special case for tablets
    @media screen and (width: 768px) and (height: 1024px) {
      font-size: 34px;
      left: 2.5rem;
      bottom: 2rem;
      padding: 1rem 2rem;
    }
    @media screen and (width: 820px) and (height: 1180px) {
      font-size: 34px;
      left: 2.5rem;
      bottom: 3rem;
      padding: 1.5rem 3rem;
    }
    @media screen and (width: 1024px) and (height: 1366px) {
      font-size: 36px;
      left: 3rem;
      bottom: 3rem;
      padding: 2rem 4rem;
    }
    &.dark {
      border-color: #3E3744;
      background: $darkbtnbg;
      &:hover {
        border-color: #3E3744;
        background: $reversedarkbtn;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 130px;
      width: 22px;
      background: #fff;
      box-shadow: 0 0 10px #fff;
      filter: blur(2px);
      opacity: 0.7;
      top: -20px;
      transition: 0.2s;
      transform: rotate(-20deg) translateX(-87px);
      @media screen and (min-width: 1900px) {
        height: 135px;
        top: -18px;
        transform: rotate(-20deg) translateX(-77px);
      }
    }
    &:hover {
      background: $hoverbuttonbg;
      border: 4px solid #5e253c;
      &::before{
        transform: rotate(-20deg) translate(195px, 78px);
        @media screen and (min-width: 1900px) {
          transform: rotate(-20deg) translate(254px, 78px);
        }
      }
    }
    &:active {
      background: #8c89b6;
    }
    .hero-btn-icon {
      background: transparent;
      color: $appleWhite;
      font-size: 42px;
      margin-right: 0.75rem;
      @media screen and (max-width: 1600px) {
        font-size: 32px;
      }
      @media screen and (max-width: 950px) {
        font-size: 24px;
      }
      @media screen and (max-width: 350px) {
        font-size: 20px;
      }
    }
  }
}