// Light mode variables
$pink-to-purple: linear-gradient(#eda0c5, #9c7cac);
$purple-to-pink: linear-gradient(#9c7cac, #eda0c5);
$buttonbg: linear-gradient(to right, #eda0c5, #9c7cac);
$hoverbuttonbg: linear-gradient(to right, #9c7cac, #eda0c5);
$appleWhite: #FAFAFA;
$pink: #eda0c5;
$red: #5e253c;
$bubble: rgba(7, 0, 0, 0.25);

// Dark mode variables
$black-to-purple: linear-gradient(#202123, #9c7cac);
$purple-to-black: linear-gradient(#9c7cac, #202123);
$darkbtnbg: linear-gradient(to right, #9b98ca, #9c7cac);
$reversedarkbtn: linear-gradient(to right, #9c7cac, #9b98ca);
$purple: #9c7cac;
$charcoal: #202123;

// Typography
$font-primary: 'Jua', sans-serif;
$font-secondary: 'Play', sans-serif;
$font-size: 1.3rem;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: url('https://res.cloudinary.com/dnr41r1lq/image/upload/v1691973727/cursor_p0d8q4.png'), pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

p {
  margin: 0;
}

.hero-section {
  background-color: $appleWhite;
  &.dark {
    background-color: $charcoal;
  }
}