// Light Mode Variables
$appleWhite: #FAFAFA;
$red: #5e253c;
$pink: #eda0c5;

// Dark Mode Variables
$charcoal: #202123;
$purple: #9c7cac;

// parent is .hero-section; % based off 100% width and 100vh
.nav {
  background: linear-gradient($purple, transparent);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  .logo, .navigation-links{
    margin: 1% 5%;
  }
  img {
    height: 3.25rem;
    @media screen and (max-height: 770px) {
      height: 3rem;
    }
    @media screen and (max-width: 420px) {
      height: 2rem;
    }
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    @media screen and (max-width: 750px) {
      visibility: hidden;
    }
    li a {
      color: $appleWhite;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover {
        color: #5e253c;
      }
    }
  }
  &.dark {
    background: linear-gradient($charcoal, transparent);
    li a {
      color: $purple;
      &:hover {
        color: $appleWhite;
      }
    }
  }
}
