$appleWhite: #FAFAFA;

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(#9c7cac, transparent);
}

.toolbar-navigation {
  display: flex;
  align-items: center;
}

.toolbar-logo img {
  height: 4rem;
  margin-left: 15%;
}

.spacer {
  flex: 1;
}

.navigation-items {
  margin-right: 2%;
}

.navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-items li {
  padding: 0 1.2rem;
  font-size: 28px;
}

.navigation-items a {
  color: $appleWhite;
  text-decoration: none;
  &:hover, &:active {
    color: #5e253c;
  }
}