$appleWhite: #FAFAFA;

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(#9c7cac, transparent);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  @media screen and (max-width: 400px) {
    padding: 10px;
  }
  img {
    height: 4rem;
    @media screen and (max-width: 400px) {
      height: 2.5rem;
    }
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    @media screen and (max-width: 670px) {
      visibility: hidden;
    }
    li {
      display: inline-block;
      a {
        display: block;
        color: $appleWhite;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 10px;
        &:hover {
          color: #5e253c;
        }
      }
    }
  }
}