// light mode variables
$appleWhite: #FAFAFA;
$pink: #eda0c5;
$red: #5e253c;

// dark mode variables
$charcoal: #202123;
$purple: #9c7cac;

.menu {
  visibility: hidden;
  @media screen and (max-width: 650px) {
    visibility: visible;
  }
}
.navburger {
  color: $red;
  visibility: hidden;
  @media screen and (max-width: 650px) {
    visibility: visible;
  }
  &.dark {
    color: $purple;
  }
}