// light mode variables
$purple-to-pink: linear-gradient(#9c7cac, #eda0c5);
$appleWhite: #FAFAFA;
$bubble: rgba(7, 0, 0, 0.25);

// dark mode variables
$purple-to-black: linear-gradient(#9c7cac, #202123);
$purple: #9c7cac;
$charcoal: #202123;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
  width: 100%;
  background: $purple-to-pink;
  color: $appleWhite;
  position: relative;
  .project-grid {
    min-height: 150vh;
  }
  .figure-container {
    align-self: flex-end;
    figure {
      z-index: 50;
      position: relative;
      .title-image {
        position: absolute;
        height: 17vh;
        right: 0;
        top: -5px;
        @media screen and (max-width: 900px) {
          height: 15vh;
        }
        @media screen and (max-width: 600px) {
          height: 14vh;
          width: 75vw;
        }
        @media screen and (max-width: 450px) {
          height: 12vh;
          width: 60vw;
        }
      }
      .projects-text {
        position: absolute;
        z-index: 75;
        font-family: 'Play', sans-serif;
        font-size: 36px;
        top: 45px;
        right: 165px;
        @media screen and (max-width: 900px) {
          font-size: 32px;
          top: 35px;
          right: 155px;
        }
        @media screen and (max-width: 600px) {
          font-size: 28px;
          top: 35px;
          right: 115px;
        }
        @media screen and (max-width: 450px) {
          font-size: 24px;
          top: 32px;
          right: 60px;
        }
      }
    }

  }
  .projects-container {
    height: 150vh;
    width: 75%;
    border: 3px solid red;
    display: flex; // line up the columns in a row
    @media screen and (max-width: 900px) {
      flex-direction: column;
      margin-top: 20%;
    }
    .project-column {
      border: 3px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      gap: 10%;
      @media screen and (max-width: 900px) {
        justify-content: center;
        align-items: center;
        gap: 5%;
      }
      &.lefty {
        justify-content: flex-start;
        @media screen and (max-width: 900px) {
          justify-content: flex-end;
        }
      }
      &.righty {
        justify-content: flex-end;
        @media screen and (max-width: 900px) {
          justify-content: flex-start;
        }
      }
      .left-col, .right-col {
        height: 30%;
        width: 95%;
        background: $bubble;
        border: 2px solid yellow;
        border-radius: 8%;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 900px) {
          height: 40%;
          width: 75%;
        }
      }
      .left-col {
        margin-top: 15%;
        margin-right: 5%;
        @media screen and (max-width: 900px) {
          margin: 0;
          margin-bottom: 10%;
        }
      }
      .right-col {
        margin-bottom: 15%;
        margin-left: 5%;
        @media screen and (max-width: 900px) {
          margin: 0;
          margin-top: 10%;
        }
      }
    }
  }
  &.dark {
    background: $purple-to-black;
  }
}