// light mode variables
$purple-to-pink: linear-gradient(#9c7cac, #eda0c5);
$appleWhite: #FAFAFA;
$pink: #eda0c5;
$red: #5e253c;
$bubble: rgba(7, 0, 0, 0.25);

// dark mode variables
$purple-to-black: linear-gradient(#9c7cac, #202123);
$purple: #9c7cac;
$darkbg: #3E3744;
$charcoal: #202123;
$blue: #9b98ca;

.projects {
  background: $purple-to-pink;
  color: $appleWhite;
  display: flex;
  flex-direction: column;
  position: relative;
  .project-grid {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  }
  .slanted-figure-bg {
    background-color: $bubble;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(57% 0, 100% 0, 100% 7%, 66% 7%);
    @media screen and (max-width: 1024px) {
      clip-path: polygon(54% 0, 100% 0, 100% 5%, 64% 5%);
    }
    @media screen and (max-width: 900px) {
      clip-path: polygon(55% 0, 100% 0, 100% 7%, 63% 7%);
    }
    @media screen and (max-width: 770px) {
      clip-path: polygon(52% 0, 100% 0, 100% 7%, 62% 7%);
    }
    @media screen and (max-width: 480px) {
      clip-path: polygon(48% 0, 100% 0, 100% 3%, 62% 3%);
    }
    &::after {
      content: "Projects";
      color: $appleWhite;
      position: absolute;
      font-family: 'Play', sans-serif;
      font-size: 42px;
      right: 16%;
      top: 45px;
      z-index: 3;
      @media screen and (max-width: 1550px) {
        right: 15%;
      }
      @media screen and (max-width: 1450px) {
        font-size: 36px;
      }
      @media screen and (max-width: 1280px) {
        right: 16%;
      }
      @media screen and (max-width: 1024px) {
        font-size: 30px;
        top: 20px;
      }
      @media screen and (max-width: 900px) {
        right: 15%;
      }
      @media screen and (max-width: 770px) {
        top: 25px;
        font-size: 26px;
        right: 14%;
      }
      @media screen and (max-width: 500px) {
        right: 10%;
        font-size: 24px;
      }
      @media screen and (max-width: 375px) {
        top: 20px;
        font-size: 22px;
      }
    }
  }
  .slanted-figure {
    align-self: flex-end;
    position: absolute;
    background-color: $appleWhite;
    clip-path: polygon(56% 0, 100% 0, 100% 8%, 65% 8%, 56% 0, 61% 1%, 66% 6%, 97% 6%, 97% 1%, 60% 1%);
    height: 100%;
    width: 100%;
    margin: -2px;
    // desktop responsiveness
    @media screen and (max-width: 1280px) {
      clip-path: polygon(51% 0, 100% 0, 100% 8%, 62% 8%, 51% 0, 58% 1%, 64% 6%, 97% 6%, 97% 1%, 58% 1%);
    }
    @media screen and (max-width: 1024px) {
      clip-path: polygon(51% 0, 100% 0, 100% 6%, 63% 6%, 53% 0, 58% 0, 65% 4%, 97% 4%, 97% 0, 55% 0);
    }
    @media screen and (max-width: 900px) {
      clip-path: polygon(49% 0, 100% 0, 100% 8%, 62% 8%, 54% 0, 58% 0, 64% 6%, 97% 6%, 97% 0, 58% 0);
    }
    // mobile responsiveness
    @media screen and (max-width: 770px) {
      clip-path: polygon(51% 0, 100% 0, 100% 8%, 62% 8%, 51% 0, 58% 1%, 64% 6%, 97% 6%, 97% 1%, 58% 1%);
    }
    @media screen and (max-width: 480px) {
      clip-path: polygon(42% 0, 100% 0, 100% 3%, 59% 3%, 42% 0, 50% 0.5%, 62% 2.5%, 97% 2.5%, 97% 0.5%, 50% 0.5%);
    }
    &.dark {
      background-color: $charcoal;
    }
  }
  .projects-container {
    display: flex;
    justify-content: center;
    padding: 15% 5% 0 5%;
    @media screen and (max-width: 750px) {
      padding: 15% 2% 0 2%;
    }
    @media screen and (max-width: 600px) {
      padding: 0;
      margin-top: 30%;
    }
    .project-column {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .lefty {
      align-items: flex-end;
      margin-top: -20%;
      padding-top: 10%;
      border-right: 8px solid $appleWhite;
      @media screen and (max-width: 900px) {
        border: none;
        align-items: center;
        margin-top: -10%;
        padding: 0;
      }
      @media screen and (max-width: 600px) {
        margin: 0;
      }
      &.dark {
        border-right: 8px solid $charcoal;
        @media screen and (max-width: 900px) {
          border: none;
          align-items: center;
          margin-top: -10%;
          padding: 0;
        }
        @media screen and (max-width: 600px) {
          margin: 0;
        }
      }
      .left-bubble {
        display: flex;
        justify-content: center;
        padding: 5%;
        margin-bottom: 50px;
        width: 75%;
        background: $bubble;
        border-radius: 8%;
        @media screen and (max-width: 1024px) {
          width: 85%;
        }
        @media screen and (max-width: 900px) {
          width: 90%;
        }
        @media screen and (max-width: 750px) {
          width: 95%;
        }
        @media screen and (max-width: 600px) {
          width: 75%;
        }
        @media screen and (max-width: 375px) {
          width: 85%;
        }
      }
    }
    .righty {
      align-items: flex-start;
      @media screen and (max-width: 900px) {
        align-items: center;
        margin-top: 5%;
      }
      @media screen and (max-width: 600px) {
        margin: 0;
      }
      .right-bubble {
        display: flex;
        justify-content: center;
        padding: 5%;
        margin-bottom: 50px;
        width: 75%;
        background: $bubble;
        border-radius: 8%;
        @media screen and (max-width: 1024px) {
          width: 85%;
        }
        @media screen and (max-width: 900px) {
          width: 90%;
        }
        @media screen and (max-width: 750px) {
          width: 95%;
        }
        @media screen and (max-width: 600px) {
          width: 75%;
        }
        @media screen and (max-width: 375px) {
          width: 85%;
        }
      }
    }
  }
  .line-extension-container {
    width: 100%;
    height: 25px;
    display: flex;
    .line-extension {
      border-right: 8px solid $appleWhite;
      margin-top: -15%;
      width: 100%;
      @media screen and (max-width: 900px) {
        border: none;
      }
      &.dark {
        border-right: 8px solid $charcoal;
        @media screen and (max-width: 900px) {
          border: none;
        }
      }
    }
    .placeholder-col {
      width: 100%;
      height: 100%;
    }
  }
  &.dark {
    background: $purple-to-black;
    color: $charcoal;
  }
}