// Light mode variables
$pink-to-purple: linear-gradient(#eda0c5, #9c7cac);
$purple-to-pink: linear-gradient(#9c7cac, #eda0c5);

// Dark mode variables
$black-to-purple: linear-gradient(#202123, #9c7cac);
$purple-to-black: linear-gradient(#9c7cac, #202123);

* {
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  cursor: url('https://res.cloudinary.com/dnr41r1lq/image/upload/v1691460747/icons8-cursor-64_qbudfa.png'), pointer;
}

.hero-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: black;
  background: $pink-to-purple;
  &.dark {
    background: $black-to-purple;
  }
}

.white-grid {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-size: 40px 40px;
  background-color: transparent;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
}

.placement {
  width: 75%;
  height: 20vh;
  position: absolute;
  background-color: white;
  align-self: center;
}

.hero-slant {
  align-self: flex-end;
  position: relative;
  background-color: #FAFAFA;
  height: 17vh;
  width: 33vw;
  &.dark {
    background-color: #202123;
  }
}

.hero-slant::after {
  content: '';
  position: absolute;
  right: -160px;

  border-width: 80px;
  border-style: solid;
  border-left-color: #FAFAFA;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #FAFAFA;
}

.hero-btn-icon {
  background: transparent;
  color: white;
  font-size: 28px;
  margin-right: 15px;
}

.hero-btn {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 6rem;
  width: 16rem;
  border: 4px solid #eda0c5;
  border-radius: 4rem 4rem;
  background-color: #9c7cac;
  color: white;
  font-size: 28px;
  z-index: 1;
}

.hero-btn:hover {
  background-color: #9b98ca;
  border: 4px solid #5e253c;
}
.hero-btn:active {
  background-color: #8c89b6;
}

@media screen and (max-width: 900px) {
  .hero-btn-icon {
    font-size: 18px;
    margin-right: 10px;
  }
  .hero-btn {
    height: 4rem;
    width: 12rem;
    font-size: 18px;
    border-radius: 3rem 3rem;
    border: 3px solid #eda0c5;
  }
}
@media screen and (max-width: 600px) {
  .hero-btn-icon {
    font-size: 14px;
    margin-right: 8px;
  }
  .hero-btn {
    height: 3rem;
    width: 6rem;
    font-size: 14px;
    border-radius: 2rem 2rem;
  }
}
// className = 'body dark'

/*

<div className="outer">
  <div className="inner>

<div className="inner>
*/

// .outer > .inner {

// }
// body {

//   &.dark {

//   }
// }